/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	header.major h2 {
		font-size: 1.6em;
	}

	header.major .byline {
		font-size: 1.1em;
	}

	.prelogo{
		font-size: 50px;
	}

	.wrapper {
		padding: 4em 0em 2em 0em;
	}

		.wrapper.style2 {
			padding-bottom: 5em;
		}

		.wrapper.style4 p {
			margin-bottom: 1em;
		}

		.wrapper.style5 img {
			width: 70%;
		}

		.wrapper.style1 {
			background: #222222 url(../images/mobile_banner.jpg) no-repeat;
			background-size: cover;
			background-position: bottom;
		}

		.current-game{
		  float: none;
    display: block;
    justify-content: center;
    align-items: center;
		}

		.current-wrapper{
		  background-color: #1e1d1b;
		}

		.current-game img{
		  width: 100vw;
		  object-fit: cover;
		}

	.style6 .major{
	  position: absolute;
	  visibility:hidden;
	}
	#timer{
	  text-align: center;
	}
/* Lists */

	ul.icons li a {
		font-size: 1.6em;
	}

/* Main */

	#main #sidebar .major h2 {
		font-size: 1.6em;
	}

	#banner h3 {
		display: inline-block;
		font-size: 1em;
		padding-top: 10px;
		font-weight: bold;
	}
